*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.submitForm{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.submitForm form{
    grid-row: 3;
    grid-column: 3;
    justify-self: center;
}