*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

.searchBar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.searchBar form{
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
}

#searchBar{
    width: 500px;
    height: 25px;
    outline-color: #1560BD;
    border-style: solid;
    border-color: #1560BD;
    border-radius: 7px;
}

.searchBar input:focus, textarea:focus{
    color:black;
    text-indent: 6px;
}

.searchBar label{
    color: black;
    margin-left: 36%;
}

.item{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
}

.item img{
    width: 150px;
    height: auto;
    grid-column: 2;
}

.item a{
    grid-column: 2;
    grid-row: 1 / span 3;
    justify-self: center;
}

.item #serviceName{
    color: black;
    grid-column: 3 / span 2;
    grid-row: 1;
    justify-self: left;
    cursor: pointer;
    width: 80%;
    height: 60%;
    border: none;
    text-decoration: underline;
    background: whitesmoke;
}

.item #serviceDesc{
    color: black;
    grid-column: 3 / span 2;
    grid-row: 2;
    justify-self: left;
    grid-row: 2 / span 3;
    width: 80%;
    border-style: solid;
    border-color: #1560BD;
    border-radius: 10px;
    cursor: pointer;
}

.item input:focus{
    outline: none;
}

