*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: black; 
}

.title{
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.title h1{
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
}

.title p{
    grid-column: 2;
    grid-row: 5;
    justify-self: center;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-top: 10%;
}

.buttons button{
    border:none;
    width: 180px;
    height: 30px;
    background-color: #1560bd;
    border-radius: 3px;
}

.buttons #button1{
    grid-column: 4;
    justify-self: center;
}

.buttons #button2{
    grid-column: 6;
    justify-self: center;
}

#learnMore{
    color:white;
    text-decoration: none;
}

#login{
    color: white;
    text-decoration: none;
}