*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;  
}

.welcomeCont{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);

}
.welcomeCont h3{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    color: black;
    font-size: 80px;
}

.welcomeCont img{
    height: 400px;
    width: 500px;
    grid-column: 3 / span 4;
    grid-row: 1 / span 4;
    justify-self: center;
}

.welcomeCont #button2{
    grid-column: 2;
    grid-row: 4;
    justify-self: center;
    background-color: #1560bd;
    width: 200px;
    height: 35px;
    border-radius: 3px;
    border:none;
    cursor: pointer;
}

#search,#cal{
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    .welcomeCont {
        grid-template-rows: repeat(8, 0.3fr);
    }

    .welcomeCont h3 {
        grid-column: 3;
        grid-row: 2;
        justify-self: center;
        color: black;
        font-size: 80px;
    }


    .welcomeCont #button2 {
        grid-column: 3;
        grid-row: 3;
        justify-self: center;
    }
    

    .welcomeCont img {
        grid-column: 1 / span 5;
        grid-row: 4;
        justify-self: center;
    }
}
